alembic>=1.16.5
asyncpg>=0.30.0
fastapi>=0.121.1
greenlet>=3.2.4
httpx>=0.28.1
prometheus-client>=0.23.1
pydantic-settings>=2.11.0
psycopg[binary]>=3.2.12
python-multipart>=0.0.20
redis>=7.0.1
sqlalchemy>=2.0.44
uvicorn[standard]>=0.38.0
